{% extends 'layout.twig' %}

{% block content %}
    <form method='POST' name='l_form' action='#' enctype='multipart/form-data'>
        {% if success %}
            <div class='success'>{{ success  }}</div>
        {% endif %}
        {% if error %}
            <div class='error'>{{ error  }}</div>
        {% endif %}
        <p>Имя:<br/>
            <input type='text' name='name' placeholder='Имя' value="{{ name }}"/>
        </p>

        <p>О себе:<br/>
            <textarea type='text' name='description' id='' rows='5'
                      placeholder='О себе'>{{ description }}</textarea>
        </p>
        <div class='bottom  clearfix'>
            <p class='left'>Фото:<br/>
                <input class='left' type='file' name='photo'>
            </p>
            <p class='right'>Возраст:<br/>
                <select name='age' size='1'>
                    <option value=''>{{ age }}</option>
                    <option value='-'>-</option>
                    {% for i in 10..100 %}
                        <option value={{ i }}>{{ i }}</option>
                    {% endfor %}
                    </select>

            </p>
        </div>
        <button type='submit' name='send' value='вход'>Отправить</button>
        <button type='reset'>Очистить</button>
    </form>
{% endblock %}
